@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'poppins', sans-serif;
}

a{
  color: inherit !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}

/* App */
.app-navbar{
  background-image: linear-gradient(to bottom right, #fcb629, #FDC75B);
}

.app-navbar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.app-navbar *:focus{
  outline: none;
}

.app-navbar h1{
  margin: 0px;
}

.app-navbar-logoContainer:hover{
  cursor: pointer;
}

.app-navbar img{
  margin: 0px;
  height: 45px;
}

.app-container {
  padding-top: 55px;
}

.ml-auto img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}


/* BuatAkun */
.buatakun-container{
  padding: 20px;
}

.buatakun-form{
  display: flex;
  width: 200px;
  flex-direction: column;
  margin: 0px auto;
}


/* Masuk */
.masuk-container {
  background-image: linear-gradient(to top right, #fcb629, #FDC75B);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.masuk-cards {
  display: flex;
  width: 70%;
  height: 700px;
  min-height: 80vh;
  margin: 0px auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.masuk-cards-left {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.masuk-cards-left h3{
  margin: 0px 3.5rem;
}


.masuk-cards-right{
  background-color: #FDC75B;
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 600px;
  border-bottom-left-radius: 300px;
}

.masuk-cards-right img{
  width: 95%;
}

.masuk-cards-left-form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.masuk-cards-left-form input {
  border-radius: 200px;
  padding: 10px 30px;
  background-color: #f7f7f7;
  color: #444;
  border: none;
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.masuk-cards-left-form input:focus {
  outline: none;
}

.masuk-cards-left-form button {
  color: white;
  background-color: #FDC75B;
  border: none;
  padding: 5px;
  font-family: inherit;
  border-radius: 10px;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.masuk-cards-left-form button:hover{
  background-color: #fcb629;
  cursor: pointer;
}

.masuk-cards-left-form button:focus{
  outline: none;
}

.masuk-cards-left-link {
  color: #777;
}

.masuk-cards-left-link span:hover {
  color: #FDC75B;
  cursor: pointer;
}

@media (max-width:1240px){
  .masuk-cards-left{
    width: 50%;
  }
  .masuk-cards-right{
    width: 50%;
  }
}

@media (max-width:970px){
  .masuk-cards-left-form button{
    font-size: 1rem;
  }

  .masuk-cards-left-link{
    font-size: 0.8rem;
  }
}

@media (max-width:950px) {
  .masuk-cards-left{
    width: 100%;
    border-radius: 10px;
  }
  .masuk-cards h1{
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .masuk-cards-left-form input{
    margin-top: 0.5rem;
  }
  .masuk-cards-right{
    display: none;
  }
}

@media (max-width:550px){
  .masuk-cards{
    width: 90%;
    left: 5%;
  }
}


/* BuatAkun */
.buatakun-container {
  background-image: linear-gradient(to top right, #fcb629, #FDC75B);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.buatakun-cards {
  display: flex;
  width: 70%;
  height: 700px;
  min-height: 80vh;
  margin: 0px auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.buatakun-cards-left {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buatakun-cards-left h3{
  margin: 0px 3.5rem;
}

.buatakun-cards-right{
  background-color: #FDC75B;
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 600px;
  border-bottom-left-radius: 300px;
}

.buatakun-cards-right img{
  height: 63%;
}

.buatakun-cards-left-form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buatakun-cards-left-form input {
  border-radius: 200px;
  padding: 10px 30px;
  background-color: #f7f7f7;
  color: #444;
  border: none;
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.buatakun-cards-left-form input:focus {
  outline: none;
}

.buatakun-cards-left-form button {
  color: white;
  background-color: #FDC75B;
  border: none;
  padding: 5px;
  font-family: inherit;
  border-radius: 10px;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.buatakun-cards-left-form button:hover{
  background-color: #fcb629;
  cursor: pointer;
}

.buatakun-cards-left-form button:focus{
  outline: none;
}

.buatakun-cards-left-link {
  color: #777;
}

.buatakun-cards-left-link span:hover {
  color: #FDC75B;
  cursor: pointer;
}

@media (max-width:1240px){
  .buatakun-cards-left{
    width: 50%;
  }
  .buatakun-cards-right{
    width: 50%;
  }
}

@media (max-width:970px){
  .buatakun-cards-left-form button{
    font-size: 1rem;
  }

  .buatakun-cards-left-link{
    font-size: 0.8rem;
  }
}

@media (max-width:950px) {
  .buatakun-cards-left{
    width: 100%;
    border-radius: 10px;
  }
  .buatakun-cards h1{
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .buatakun-cards-left-form input{
    margin-top: 0.5rem;
  }
  .buatakun-cards-right{
    display: none;
  }
}

@media (max-width:550px){
  .buatakun-cards{
    width: 90%;
    left: 5%;
  }
}


/* HalamanUtama */
.halamanutama-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(to top right, #fcb629, #FDC75B);
  min-height: calc(100vh - 55px);
}

.halamanutama-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.halamanutama-banner img{
  height: 100%;
}

.halamanutama-button{
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}

.halamanutama-button-plus, .halamanutama-button-explore{
  background-color: white;
  display: flex;
  padding: 10px 20px;
  /* width: 100px;
  height: 40px;
  */
  border-radius: 10px;
  margin-left: 0.5rem;
}

.halamanutama-button-plus i, .halamanutama-button-explore i{
  margin: auto;
  font-size: 1.7rem;
}

.halamanutama-button-plus p, .halamanutama-button-explore p{
  margin: auto;
  font-size: 1rem;
}

.halamanutama-button-plus, .halamanutama-button-explore:hover{
  cursor: pointer;
}

.halamanutama-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 420px));
  padding: 10px;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.halamanutama-grid-item{
  height: 100%;
}

.halamanutama-grid-item-card{
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.halamanutama-grid-item-card img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.halamanutama-grid-item-card img:hover{
  cursor: pointer;
}

.halamanutama-grid-item-card-desc{
  padding: 0.8rem;
}

.halamanutama-grid-item-card-desc-judul{
  height: 40px;
  overflow: hidden;
}

.halamanutama-grid-item-card-desc-judul:hover{
  cursor: pointer;
}

.halamanutama-grid-item-card-desc-cerita{
  height: 120px;
  overflow: hidden;
}

.halamanutama-grid-item-card-desc-info{
  display: flex;
}

.halamanutama-grid-item-card-desc-info p{
  text-align: center;
}

.halamanutama-grid-item-card-desc-info div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  height: 80px;
  margin-bottom: auto;
  margin-top: 0px;
}

.halamanutama-grid-item-card-desc-info div .bx{
  font-size: 1.5rem;
}

.halamanutama-grid-item-card-desc-info-chef{
  margin-left: auto;
  margin-right: 0px !important;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
  height: min-content;
  overflow: hidden;
}

.halamanutama-grid-item-card-desc-info-chef img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.halamanutama-grid-item-card-desc-info-chef:hover{
  cursor: pointer;
}

@media (max-width:920px){
  .halamanutama-banner{
    display: none;
  }
}


/* HalamanEksplor */
.halamaneksplor-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  background-image: linear-gradient(to top right, #fcb629, #FDC75B);
}

.halamaneksplor-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 420px));
  padding: 10px;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.halamaneksplor-grid-item{
  height: 100%;
}

.halamaneksplor-grid-item-card{
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.halamaneksplor-grid-item-card img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.halamaneksplor-grid-item-card img{
  cursor: pointer;
}

.halamaneksplor-grid-item-card-desc{
  padding: 0.8rem;
}

.halamaneksplor-grid-item-card-desc-judul{
  height: 40px;
  overflow: hidden;
}

.halamaneksplor-grid-item-card-desc-judul:hover{
  cursor: pointer;
}

.halamaneksplor-grid-item-card-desc-cerita{
  height: 120px;
  overflow: hidden;
}

.halamaneksplor-grid-item-card-desc-info{
  display: flex;
}

.halamaneksplor-grid-item-card-desc-info p{
  text-align: center;
}

.halamaneksplor-grid-item-card-desc-info div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  height: 80px;
  margin-bottom: auto;
  margin-top: 0px;
}

.halamaneksplor-grid-item-card-desc-info div .bx{
  font-size: 1.5rem;
}

.halamaneksplor-grid-item-card-desc-info-chef{
  margin-left: auto;
  margin-right: 0px !important;
  max-width: 100px;
  text-align: center;
  height: min-content;
  overflow: hidden;
}

.halamaneksplor-grid-item-card-desc-info-chef img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.halamaneksplor-grid-item-card-desc-info-chef:hover{
  cursor: pointer;
}

@media (max-width:920px){
  .halamaneksplor-banner{
    display: none;
  }
}


/* BuatResep */
.buatresep-container{
  padding: 20px;
}

.buatresep-form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0px auto;
  overflow: hidden;
}

.buatresep-form-judul{
  text-transform: capitalize;
}

.buatresep-form-bahan-itemlist-item, .buatresep-form-langkah-itemlist-item{
  display: flex;
  flex-direction: row !important;
}

.buatresep-bahan-wrapper p, .buatresep-langkah-wrapper p{
  top: 15%;
  color: #f3a303;
  font-weight: 600;
  position: absolute;
}

.buatresep-bahan-formcontrol, .buatresep-langkah-formcontrol{
  margin-left: 1.5rem;
}

/* LihatResep */
.lihatresep-container{
  padding: 20px;
}

.lihatresep-formContainer{
  padding-bottom: 10px;
  border-bottom: 3px solid gainsboro;
}

.lihatresep-form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0px auto;
}

.lihatresep-recookBy{
  margin: auto 0px;
  margin-left: 1rem;
}

.lihatresep-recook-buttonInfo{
  margin-bottom: 1rem;
}

.lihatresep-form-title{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.mb-3 .card-img-top{
  object-fit: cover;
  height: 400px;
}

.lihatresep-chef{
  font-weight: 700;
  color: #f3a303;
  transition: 0.3s;
}

.lihatresep-chef:hover{
  color: black;
  cursor: pointer;
}

.lihatresep-recookBy{
  text-align: right;
  color: black;
  opacity: 0.5;
}

.lihatresep-recookBy .recookText{
  font-style: italic;
}

.lihatresep-recookBy .recookOrang{
  font-weight: 700;
}

.subtitle{
  font-weight: bold;
}

.subtitle-underline{
  border-bottom-width: 2px;
  border-bottom-color: #888888;
  border-bottom-style: dotted;
  margin-left: 1rem;
  display: flex;
}

.subtitle-underline input{
  margin: auto 0px;
  margin-right: 0px;
  margin-left: auto;
}

.subtitle-underline-number{
  position: absolute;
  color: #f3a303
}

.subtitle-underline-value{
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.subtitle-underline p{
  margin-top: auto;
  margin-bottom: 0px;
}

.subtitle-underline span{
  position: absolute;
  left: -10;
}

.subtitle-borderRadius{
  border-radius: 10px;
  border-bottom-left-radius: 10px;
}

.lihatresep-tanggalDibuat{
  text-align: right;
}

.lihatresep-recook-group{
  display: flex;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}

.lihatresep-buttonRecook {
  width: max-content;
}

.lihatresep-commentContainer{
  padding-top: 21px;
  padding-left: 1rem;
}

.lihatresep-comment{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0px auto;
}

.lihatresep-comment-judul{
  display: flex;
  margin-left: -1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.lihatresep-comment-judul i{
  font-size: 1.8rem;
}

.lihatresep-comment .judul{
  margin: 0px;
  font-size: 1.3rem;
}

.lihatresep-comment-item {
  border-bottom: 1px solid gainsboro;
  padding-top: 15px;
  padding-bottom: 10px;
}

.lihatresep-comment-item div{
  display: flex;
  align-items: center;
}

.lihatresep-comment-item div img{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.lihatresep-comment-item .subtitle{
  margin-left: 0.5rem;
}

.lihatresep-comment-item .subtitle:hover{
  cursor: pointer;
}

.lihatresep-comment-item p{
  margin: 0px;
}

.lihatresep-comment-inputGroup{
  margin-top: 1rem;
}

.lihatresep-modal{
  display: flex;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}


/* HalamanAkun */
.halamanakun-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.halamanakun-userinfo{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.halamanakun-userinfo p{
  margin: auto 0px;
}

.halamanakun-userinfo-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.halamanakun-userinfo-name-img {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.halamanakun-userinfo-name-img img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.halamanakun-userinfo-name-img i{
  margin: auto;
  font-size: 3.5rem;
  color: gainsboro;
}

.halamanakun-userinfo-popularity{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  text-align: center;
}

.halamanakun-userinfo-popularity div{
  border-left: 1px solid black;
}

.halamanakun-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 420px));
  padding: 10px;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.halamanakun-grid-item{
  height: 100%;
}

.halamanakun-grid-item-card{
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.halamanakun-grid-item-card img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.halamanakun-grid-item-card img:hover{
  cursor: pointer;
}

.halamanakun-grid-item-card-desc{
  padding: 0.8rem;
}

.halamanakun-grid-item-card-desc-judul{
  height: 40px;
  overflow: hidden;
}

.halamanakun-grid-item-card-desc-cerita{
  height: 120px;
  overflow: hidden;
}

.halamanakun-grid-item-card-desc-info{
  display: flex;
}

.halamanakun-grid-item-card-desc-info div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  height: 80px;
}

.halamanakun-grid-item-card-desc-info div .bx{
  font-size: 1.5rem;
}

@media (max-width: 490px){
  .halamanakun-userinfo-popularity{
    flex-direction: column;
    height: 150px;
    width: max-content;
    margin-left: auto;
    margin-right: 0px;
    text-align: left;
  }
  .halamanakun-userinfo-popularity br{
    display: none;
  }
  .halamanakun-userinfo-popularity div{
    border-bottom: 1px solid black;
  }
}


/* HalamanAkunLain */
.halamanakunlain-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 55px);
}

.halamanakunlain-userinfo{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.halamanakunlain-userinfo-name{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.halamanakunlain-userinfo-name-img {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f7f7f7;
  margin: 0px auto;
}

.halamanakunlain-userinfo-name-img img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.halamanakunlain-userinfo-name-img i{
  margin: auto;
  font-size: 3.5rem;
  color: gainsboro;
}

.halamanakunlain-userinfo-name p{
  margin: 0px auto;
}

.halamanakunlain-userinfo-popularity p{
  margin: auto 0px;
}

.halamanakunlain-userinfo-popularity{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  text-align: center;
}

.halamanakunlain-userinfo-popularity div{
  border-left: 1px solid black;
}

.halamanakunlain-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 420px));
  padding: 10px;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.halamanakunlain-grid-item{
  height: 100%;
}

.halamanakunlain-grid-item-card{
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.halamanakunlain-grid-item-card img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.halamanakunlain-grid-item-card img:hover{
  cursor: pointer;
}

.halamanakunlain-grid-item-card-desc{
  padding: 0.8rem;
}

.halamanakunlain-grid-item-card-desc-judul{
  height: 40px;
  overflow: hidden;
}

.halamanakunlain-grid-item-card-desc-cerita{
  height: 120px;
  overflow: hidden;
}

.halamanakunlain-grid-item-card-desc-info{
  display: flex;
}

.halamanakunlain-grid-item-card-desc-info div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  max-height: 80px;
  margin-bottom: auto;
  margin-top: 0px;
}

.halamanakunlain-grid-item-card-desc-info div .bx{
  font-size: 1.5rem;
}

.zero-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.zero-posts p{
  font-size: 1.5rem;
}

.zero-posts i{
  font-size: 4rem;
}

@media (max-width: 490px){
  .halamanakunlain-userinfo-popularity{
    flex-direction: column;
    height: 150px;
    width: max-content;
    margin-left: auto;
    margin-right: 0px;
    text-align: left;
  }
  .halamanakunlain-userinfo-popularity br{
    display: none;
  }
  .halamanakunlain-userinfo-popularity div{
    border-bottom: 1px solid black;
  }
}


/* PengaturanAkun */
.pengaturanakun-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 55px);
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

.pengaturanakun-img-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
}

.pengaturanakun-img-container p {
  margin: auto 0px;
}

.pengaturanakun-img {
  display: flex;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: #f7f7f7;
}

.pengaturanakun-img img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.pengaturanakun-img-container p {
  text-align: center;
  margin-top: 0.3rem;
}

.pengaturanakun-img-container p:hover {
  cursor: pointer;
}

.pengaturanakun-img i {
  font-size: 7rem;
  margin: auto;
  color: gainsboro;
}

.pengaturanakun-bio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.pengaturanakun-bio-container p{
  margin: auto 0px;
}

.pengaturanakun-nama-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.pengaturanakun-nama-container p{
  margin: auto 0px;
}

.pengaturanakun-email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.pengaturanakun-email-container p{
  margin: auto 0px;
}

.pengaturanakun-katasandi-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.pengaturanakun-katasandi-container p{
  margin: auto 0px;
}

.pengaturanakun-button {
  margin-top: auto;
  margin-bottom: 0px;
  width: max-content;
}

.pengaturanakun-link {
  cursor: pointer;
}


/* Recook */
.recook-container{
  padding: 20px;
}

.recook-buttonInfo{
  margin-bottom: 1rem;
}

.recook-form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0px auto;
  overflow: hidden;
}

.recook-form-judul{
  text-transform: capitalize;
}

.recook-form-bahan-itemlist-item, .recook-form-langkah-itemlist-item{
  display: flex;
  flex-direction: row !important;
}

.recook-bahan-wrapper p, .recook-langkah-wrapper p{
  top: 15%;
  color: #f3a303;
  font-weight: 600;
  position: absolute;
}

.recook-bahan-formcontrol, .recook-langkah-formcontrol{
  margin-left: 1.5rem;
}


/* AboutUs */
.aboutus-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 56px);
  background-image: linear-gradient(to top right, #fcb629, #FDC75B);
}

.aboutus-container h1{
  text-align: center;
  letter-spacing: 0.5rem;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.aboutus-card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
  margin-top: 1rem;
}

.aboutus-card{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background-image: linear-gradient(to top right, gainsboro, ghostwhite);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.aboutus-img-wrapper{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: ghostwhite;
  margin: 0px auto;
  border: 3px solid #FDC75B;
  overflow: hidden;
}

.aboutus-img-wrapper img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.aboutus-nama{
  margin: 0px;
  margin-top: 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.aboutus-job{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FDC75B;
}

.aboutus-social{
  margin-top: auto;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutus-social i{
  font-size: 2rem;
}

.aboutus-social i{
  cursor: pointer;
}